  /*Fonts*/
  @font-face {
    font-family: Macqueen; 
    src: url('fonts/Macqueen.ttf') format('truetype'); 
  }
  @font-face {
    font-family: Transistor; 
    src: url('fonts/Transistor.ttf') format('truetype'); 
  }
  @font-face {
    font-family: Coffeemood; 
    src: url('fonts/Coffeemood.ttf') format('truetype'); 
  }
  /*Header and navigation bar*/
  html,
  body 
  {
    margin: 0;
    padding: 0;
    gap: 0;
  }
  nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-block: 2%;
    gap: 0;
    background-color: #333335;
    color: rgb(255, 255, 255);
  }
  img#coffeeCup {
    width: 100px;
    height: 100px;
    position: relative;
    right: 2.5%;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
    background-color: #333335;
    color: rgb(255, 255, 255);
    font-family: Macqueen, Arial, Helvetica, sans-serif;
    font-size: 400%;
  }
  li.no-bullet {
    margin-inline: 3.5%;
    padding: 0;
    display: inline-block;
    list-style: none;
  }
  ul {
      flex-basis: 100%;
      height: 3rem;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      gap: 0;
  }
  button.navigation-button {
      background-color: #8f857a;
      color: rgb(255, 255, 123);
      border-radius: 20%;
      width: 250%;
      height: 100%;
      font-weight: 900;
      font-size: 100%;
      padding: 0;
      margin: 0;
      gap: 0;
  }
  /*Background*/
  .content-container {
    padding: 0;
    margin: 0;
    gap: 0;
    height: 200dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-container::before {
    content: "";
    background-image: url('images/background-coffee.jpg');
    background-repeat: repeat;
    background-size: 25% 25%;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.25;
    height: 250dvh;
  }
  .content-container >*{
    padding: 0;
    margin: 0;
    gap: 0;
  }
  /*Home page*/
  div#contentSpaceHome {
    flex-basis: 60%;
    background-color: #7c6f69;
    border-radius: 5%;
    height: 150dvh;
    display: grid;
    grid-template-rows: repeat(3, 30%);
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
  }
  div#slogan >*{
    padding: 0;
    margin: 0;
    gap: 0;
  }
  div#slogan{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Coffeemood, Arial, Helvetica, sans-serif;
    font-size: 7.5dvh;
    color: aliceblue;
    grid-area: 1/1/2/2;
  }
  div#slogan>p{
    position: relative;
    left: 5%;
  }
  img#coffeeCup2 {
    width: 20%;
    height: 35%;
    position: absolute;
    left: 55%;
    top: 65%;
    border-radius: 10%;
  }
  div#openHours{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-area: 2/1/3/2;
  }
  table#schedule {
    border-collapse: separate;
    border-spacing: 2px;
    text-align: center;
    color: aliceblue;
    margin-right: 5%;
  }
  table#schedule td {
    font-family: sans-serif;
    font-size: 1.25dvw;
    font-weight: 900;
  }
  img#coffeeTime {
    width: 40%;
    height: 90%;
    position: relative;
    right: 5%;
    top: 0;
    border-radius: 50%;
  }
  div#contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: 3/1/4/2;
  }
  div#contact>*{
    margin: 0;
    gap: 0;
    padding: 0;
    padding-left: 5dvw;
  }
  div#contact>p{
    font-family: Coffeemood;
    font-size: 2.5dvw;
    color: aliceblue;
  }
  div#contact>table{
    font-family: sans-serif;
    font-size: 1.05dvw;
    font-weight: 800;
    color: aliceblue;
  }
  .contact-icon{
    width: 5dvw;
    height: 5dvh;
    stroke: aliceblue;
  }
  /*Menu Page*/
  div#contentSpaceMenu {
    flex-basis: 60%;
    background-color: #7c6f69;
    border-radius: 5%;
    height: 150dvh;
    display: flex;
    flex-wrap: wrap;
  }
  div#contentSpaceMenu>* {
    margin: 0;
    gap: 0;
    padding: 0;
  }
  div.menu-header {
    flex-basis: 100%;
    display: flex;
    font-family: Macqueen, sans-serif;
    font-size: 350%;
    color: aliceblue;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    position: relative;
    top: 2%;
  }
  div.menu-panel {
    display: flex;
  }
  div.menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    bottom: 10%;
  }
  div.menu-item>* {
    margin: 0;
    gap: 0;
    padding: 0;
  }
  img.drink-item,
  img.food-item,
  img.dessert-item {
    width: 90%;
    height: 50%;
  }
  p.item-label {
    font-family: Coffeemood;
    color: aliceblue;
    font-size: 150%;
  }
  /*Home page*/
  div#contentSpaceServices {
    flex-basis: 60%;
    background-color: #7c6f69;
    border-radius: 5%;
    height: 150dvh;
    display: flex;
    flex-wrap: wrap;
  }
  div#contentSpaceServices>* {
    margin: 0;
    gap: 0;
    padding: 0;
  }
  div.services-panel {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    height: fit-content;
    position: relative;
  }
  div.services-panel>* {
    margin: 0;
    gap: 0;
    padding: 0;
  }
  p.services-text-header{
    display: flex;
    flex-basis: 100%;
    font-size: 7.5dvh;
    font-family: Coffeemood;
    color: aliceblue;
    align-items: flex-end;
    padding-inline: 5%;
    position: relative;
  }
  p.services-text-info{
    display: flex;
    font-size: 2.5dvh;
    font-family: sans-serif;
    color: aliceblue;
    white-space: pre-line;
    align-items: center;
    position: relative;
    padding-inline: 1.5%;
  }
  p#stall-description {
    bottom: 20%;
  }
  img#coffee-stall,
  img#batch-order,
  img#barista {
    width: 40dvh;
    height: 20dvw;
    position: relative;
    bottom: 15%;
  }
  div#batch-order,
  p#order-header,
  p#order-description {
    justify-content: end;
    text-align: end;
  }
  img#batch-order {
    right: 60%;
  }
  p#order-description {
    position: relative;
    left: 35%;
    bottom: 20%;
  }